html, body {
    height: 100%
  }

body{
    margin: 0;
    padding: 0;
    background: url(assets/background.jpg) no-repeat;
    background-size: cover;
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Roboto',sans-serif;
}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p{
    text-align: justify;

}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out;
}

.box li a:hover{
    color: #b9b9b9;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

body{
    margin: 0;
    padding: 0;
    background: url(assets/background_2.jpg);
}

.box2{
    width: max-width;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Roboto',sans-serif;
}

.box2-img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.box2 h1{
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 100;
    position: absolute;
    top: 10px;
    right: 30px;
}

.box2 h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box2 p{
    text-align: justify;

}

ul{
    margin: 0;
    padding: 0;
}

.box2 li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box2 li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out;
}

.box2 li a:hover{
    color: #b9b9b9;
}

}